@font-face {
  font-family: 'knockon';
  src:  url('../font/knockon.eot?kmn7mr');
  src:  url('../font/knockon.eot?kmn7mr#iefix') format('embedded-opentype'),
    url('../font/knockon.woff?kmn7mr') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="knockon-"], [class*=" knockon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'knockon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.knockon-chart:before {
  content: "\e900";
}
.knockon-bars:before {
  content: "\e901";
}
.knockon-graph:before {
  content: "\e902";
}
.knockon-mapmarker:before {
  content: "\e903";
}
.knockon-newspaper:before {
  content: "\e904";
}
.knockon-calculator:before {
  content: "\e905";
}
.knockon-bullhorn:before {
  content: "\e906";
}
.knockon-home:before {
  content: "\e907";
}
.knockon-clock:before {
  content: "\e908";
}
.knockon-star:before {
  content: "\e909";
}
.knockon-calendar:before {
  content: "\e90a";
}
.knockon-chat-3:before {
  content: "\e90b";
}
.knockon-chat-2:before {
  content: "\e90c";
}
.knockon-chat-1:before {
  content: "\e90d";
}
.knockon-chat:before {
  content: "\e90e";
}
.knockon-tag:before {
  content: "\e90f";
}
.knockon-home-solid:before {
  content: "\e910";
}
.knockon-pencil:before {
  content: "\e911";
}
.knockon-pacman:before {
  content: "\e916";
}
.knockon-qrcode:before {
  content: "\e938";
}
.knockon-compass:before {
  content: "\e949";
}
.knockon-floppy-disk:before {
  content: "\e962";
}
.knockon-bubble:before {
  content: "\e96b";
}
.knockon-quotes-left:before {
  content: "\e977";
}
.knockon-quotes-right:before {
  content: "\e978";
}
.knockon-spinner:before {
  content: "\e97a";
}
.knockon-key:before {
  content: "\e98e";
}
.knockon-pie-chart:before {
  content: "\e99a";
}
.knockon-stats-dots:before {
  content: "\e99b";
}
.knockon-stats-bars:before {
  content: "\e99c";
}
.knockon-leaf:before {
  content: "\e9a4";
}
.knockon-airplane:before {
  content: "\e9af";
}
.knockon-warning:before {
  content: "\ea07";
}
.knockon-notification:before {
  content: "\ea08";
}
.knockon-question:before {
  content: "\ea09";
}
.knockon-info:before {
  content: "\ea0c";
}
.knockon-cancel-circle:before {
  content: "\ea0d";
}
.knockon-blocked:before {
  content: "\ea0e";
}
.knockon-table:before {
  content: "\ea71";
}
.knockon-terminal:before {
  content: "\ea81";
}
